<div class="container-fluid">
  <!--  <app-page-title title="Basic Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">
            <i class="bx bx-font-family font-size-18 align-middle me-1"></i
            >Acerca de UES FMP - SISTEMA DE MISIONES DECANATO
          </h1>
          <p class="card-title-desc">
            <i class="bx bx-book-bookmark font-size-18 align-middle me-1"></i>
            Universidad de El Salvador Facultad Multidisciplinaria Paracentral /
            Sistema de Misiones Decanato
          </p>
          <!--<h2>Tabla Avanzada con Búsqueda y Paginación</h2>-->

          <div class="row mt-2">
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div
                  class="card-body ccc"
                >
                  <div class="col-lg-8">
                    <h5
                      style="
                        text-align: center;
                        font-weight: bold;
                        font-size: 16px;
                      "
                    >
                      <i
                        class="bx bx-copy-alt font-size-18 align-middle me-1"
                      ></i>
                      Misión
                    </h5>
                    <p
                      style="text-align: justify; font-size: 14px"
                      class="card-text"
                    >
                      <i
                        class="bx bx-bookmarks font-size-18 align-middle me-1"
                      ></i>
                      Ser líder en el campo de la educación superior
                      universitaria; reconocida por la calidad humana,
                      científica y técnica; promotora de valores éticos; con
                      infraestructura y equipo adecuado; un presupuesto que
                      garantice el funcionamiento eficiente y una oferta
                      académica pertinente para el desarrollo humano integral de
                      la Región Paracentral y de la nación.
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <img
                      style="max-width: 100%; margin-right: 10px"
                      src="../../../../assets/images/acercade/img4.png"
                      class="img-fluid img"
                      alt="Imagen"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="
                      text-align: center;
                      font-weight: bold;
                      font-size: 16px;
                    "
                  >
                    <i
                      class="bx bx-copy-alt font-size-18 align-middle me-1"
                    ></i>
                    Visión
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-bookmarks font-size-18 align-middle me-1"
                    ></i>
                    Somos una institución de educación superior de carácter
                    público; formadora de profesionales de grado y postgrado en
                    diferentes áreas del saber; generadora de conocimientos
                    científicos, tecnológicos y humanistas; comprometida con el
                    desarrollo humano sostenible en la Región Paracentral de El
                    Salvador.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img3.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="col-lg-12">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-11">
                  <h5
                    style="
                      text-align: center;
                      font-weight: bold;
                      font-size: 16px;
                    "
                  >
                    <i class="bx bx-file font-size-18 align-middle me-1"></i>
                    Resumen:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-align-justify font-size-18 align-middle me-1"
                    ></i>
                    El sistema informático diseñado para la gestión de vales de
                    combustible es una plataforma multifuncional que ofrece un
                    conjunto de herramientas y funcionalidades para facilitar el
                    proceso de administración de vales de combustible en para
                    UES FMP. A continuación, se presenta un resumen de las
                    características y funcionalidades clave de este sistema:
                  </p>
                  <br>
                </div>
                <div class="col-lg-1">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img1.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-11">
                  <h5
                    style="
                      text-align: center;
                      font-weight: bold;
                      font-size: 16px;
                    "
                  >
                    <i
                      class="bx bx-book-open font-size-18 align-middle me-1"
                    ></i>
                    Principales características:
                  </h5>
                  <p
                    style="text-align: center; font-size: 14px"
                    class="card-text"
                  >
                    <i class="bx bx-sidebar font-size-18 align-middle me-1"></i>
                    A continuación, se presenta un resumen de las
                    características y funcionalidades clave de este sistema:
                  </p>
                </div>
                <div class="col-lg-1">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img5.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Gestión de Usuarios:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    El sistema cuenta con diferentes niveles de usuario,
                    incluyendo Usuario Común, Jefe de Departamento, Secretario
                    Decanato, Decano, Asistente Financiera, Jefe Financiero,
                    Vigilante, Administrador y Motorista. Cada nivel de usuario
                    tiene acceso a funciones específicas y privilegios de
                    acuerdo con su rol en el proceso.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img6.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Compra de Vales:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Los usuarios autorizados pueden registrar la compra de vale
                    de combustible, especificando el proveedor asociado a la
                    transacción. Esta información se almacena para fines de
                    seguimiento y contabilidad.
                    <br>
                    <br>
                    <br>
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img10.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Registro de Vehículos:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Se permite la gestión de vehículos pertenecientes a la
                    organización. Los detalles de los vehículos, como número de
                    placa, modelo y capacidad de combustible, se almacenan en el
                    sistema para su posterior uso en las solicitudes de vales.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img8.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Solicitud de Vehículos:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Los usuarios pueden solicitar vehículos para sus
                    actividades. Estas solicitudes pasan por múltiples niveles
                    de aprobación, incluyendo Jefes de Departamento y otros
                    responsables, antes de que puedan ser atendidas.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img9.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Solicitud de Vales de Combustible:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Una vez aprobada la solicitud de vehículos, se genera una
                    solicitud de vales de combustible. Esta solicitud también
                    requiere la aprobación de diferentes usuarios antes de que
                    se puedan asignar los vales.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img11.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Registro de Salidas y Entradas de Vehículos:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Los vigilantes registran la salida y entrada de los
                    vehículos, lo que permite un seguimiento en tiempo real de
                    su uso y consumo de combustible.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img12.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Documentación de Vales y Liquidación:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    El sistema almacena toda la documentación relacionada con
                    los vales de combustible y facilita la liquidación de los
                    mismos, garantizando una contabilidad precisa.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img13.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Devoluciones de Vales no Utilizados:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Si los vales no se consumen en su totalidad durante una
                    salida, se puede realizar una devolución para su
                    reutilización en futuras solicitudes.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img16.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Generación de Reportes:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    El sistema ofrece la capacidad de generar informes y
                    reportes diversos, incluyendo el consumo de vales por mes,
                    registros de compras y la posibilidad de exportar estos
                    datos a formatos Excel para un análisis detallado.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img15.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-8">
                  <h5
                    style="text-align: left; font-weight: bold; font-size: 16px"
                  >
                    <i class="bx bx-detail font-size-18 align-middle me-1"></i>
                    Generación de PDF y Descarga de Documentos:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-checkbox-checked font-size-22 align-middle me-1"
                    ></i>
                    Los usuarios pueden generar documentos en formato PDF,
                    incluyendo solicitudes y registros de vales, y descargar
                    documentos anexados en el proceso.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img14.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                 
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card mb-4 shadow-lg">
                <div class="card-body ccc">
                  <div class="col-lg-10">
                  <h5
                    style="
                      text-align: center;
                      font-weight: bold;
                      font-size: 16px;
                    "
                  >
                    <i
                      class="bx bx-right-indent font-size-18 align-middle me-1"
                    ></i>
                    En resumen:
                  </h5>
                  <p
                    style="text-align: justify; font-size: 14px"
                    class="card-text"
                  >
                    <i
                      class="bx bx-align-justify font-size-18 align-middle me-1"
                    ></i>
                    En resumen, este sistema de gestión de vales de combustible
                    optimiza y automatiza todo el proceso, desde la compra
                    inicial de vales hasta la liquidación y generación de
                    informes, garantizando un seguimiento preciso y eficiente de
                    los recursos de combustible en la organización. Cada nivel
                    de usuario desempeña un papel específico en el flujo de
                    trabajo, asegurando una gestión efectiva y transparente de
                    los recursos.
                  </p>
                  <br>
                  <br>
                </div>
                <div class="col-lg-2">
                  <img
                    style="max-width: 100%; margin-right: 10px"
                    src="../../../../assets/images/acercade/img2.png"
                    class="img-fluid img"
                    alt="Imagen"
                  />
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end row -->
</div>

<div class="container-fluid"></div>
