.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #0056b3;
  }
  .button-detalle {
    font-size: 14px; /* Tamaño de fuente predeterminado */
  }

  /* Media query para pantallas de 325px o menos */
  @media (max-width: 768px) {
    .button-detalle {
      font-size: 10px;
      height: 30px;
      text-align: center;
      padding: 0;
      width: 110px; /* Tamaño de fuente más pequeño para pantallas de 325px o menos */
    }
  }

  .documentos-colores-detalle{
    background-color: #B76369;
    color: #fff;
  }
