.container-code {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #d7d7d7;
  padding: 10px;
}

.code-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-input input {
  width: 30px;
  /* Establece el ancho máximo de un solo dígito */
  height: 30px;
  font-size: 18px;
  /* Tamaño de fuente para ajustar al ancho */
  text-align: center;
  margin: 0 5px;
  /* Espacio entre los campos de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-code {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



.msjclave {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}

.alta {
  color: green;
}

.media {
  color: orange;
}

.baja {
  color: red;
}

.confirmada {
  color: rgb(10, 10, 192);
}

.errorclave {
  color: red;
}

.ayuda-password-reset {
  position: absolute;
  top: 180px;
  right: 10px;
  z-index: 1;
}

@media (max-width: 767.99px) {
  .ayuda-password-reset {
    top: 200px;
  }
}

@media (max-width: 575.99px) {
  .ayuda-password-reset {
    top: 215px;
  }
}

@media (max-width: 525px) {
  .ayuda-password-reset {
    top: 200px;
  }
}

@media (max-width: 475px) {
  .ayuda-password-reset {
    top: 180px;
  }
}

@media (max-width: 440px) {
  .ayuda-password-reset {
    top: 160px;
  }
}

@media (max-width: 385px) {
  .ayuda-password-reset {
    top: 140px;
  }
}

@media (max-width: 345px) {
  .ayuda-password-reset {
    top: 120px;
  }
}

@media (max-width: 475px){
  .text-1{
    font-size: 15px;
  }

  .text-2{
    font-size: 13px;
  }
}

@media (max-width: 445px){
  .text-1{
    font-size: 13px;
  }

  .text-2{
    font-size: 12px;
  }
}

@media (max-width: 405px){
  .text-1{
    font-size: 12px;
  }

  .text-2{
    font-size: 11px;
  }
}

@media (max-width: 375px){
  .text-1{
    font-size: 11px;
  }

  .text-2{
    font-size: 10px;
  }
}

@media (max-width: 346.99px){
  .text-1{
    font-size: 10px;
  }

  .text-2{
    font-size: 9px;
  }
}